.Container {
    display: flex;
    justify-content: center;
    height: calc(100vh - 200px);
    align-items: center;
  }
  
  .Wrapper {
    display: inline-block;
  }
  
  .ErrorCode {
    font-family: 'Titillium Web', sans-serif;
    font-size: 186px;
    font-weight: 900;
    margin: 0px;
    text-transform: uppercase;
  }
  
  @media (max-width : 500px) {
    .ErrorCode {
      font-size: 120px;
    }
  }
  
  .Oops {
    font-family: 'Titillium Web', sans-serif;
    font-size: 26px;
    font-weight: 700;
    margin: 20px 0;
  }
  
  .Sorry {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 0px;
    text-transform: uppercase;
  }
  
  .HomeLink {
    font-family: 'Titillium Web', sans-serif;
    display: inline-block;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    border: none;
    background: #5c91fe;
    padding: 10px 40px;
    font-size: 14px;
    font-weight: 700;
    border-radius: 1px;
    margin-top: 15px;
    animation: fadein 1s ease-out;
  }
  
  .HomeLink:hover {
    opacity: 0.8;
  }
  
  @keyframes fadein {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }